.sezione {
  border: solid 2px red;

  stroke: red !important;
}

/* Per nascondere l'XML classed incluso a manazza */
#xmlclassed { display: none; }


#js_editor, #css_editor, .CodeMirror {
	float: left;
}
#css_editor + .CodeMirror {
	margin-left: 50px;
}

#editor_container { 
	clear: left;
}



body>div {
  clear: left;
}


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  margin-top: 10px;
}

.invisible {
	display: none;
}

#main {
  float: left;
  width: 950px;
}

#sidebar {
  float: left;
  width: 110px;
}

#document div {
	padding-left: 1px;
	margin-top: -1px;
}

#document div.hover {
	border-left: 2px solid red;
	padding-left: 0px;
}

div {
	border-left: 1px solid transparent;
}

.onfocus {
	color: red;
}
#document {
	float: left;
	width: 740px;
	height: 830px;
	overflow: auto;
	border: 1px solid black;
}

#sequence {
  width: 600px;
  height: 50px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#explanationText {
  font-size: 2.5em;
}
